  .home {
    align-items: center;
    display: grid;
    margin-top: 50px;
    margin-left: 160px;
    margin-right: 160px;
    
    
    border: 5px solid;
    border-radius: 500px;
    border-top-left-radius: 5%;
    border-bottom-right-radius:5% ;
    border-color: #9BBBFC;
    border-collapse: separate;
    border-spacing: 15px;
    
    padding-top: 50px;
    padding-left: 10px;
    padding-bottom: 30px;
    
    background-color: #9BBBFC;
    font-family: "Lucida Handwriting", cursive;
   
  }

  .home p {
    margin: auto;
    font-size: 60px;
    width: 70%;
    line-height: 170%;
    color: white;
    
  }
  
  .socialmedia ul{
    display: flex;
    width: 100%;
    font-size: 30px;
    padding-left: 30%;
    li {
      padding: 5%;
    }
  }
  
  @media (max-width: 1035px) {

    .home p {
      font-size: auto ;
      line-height: 150%;
      
    }
    .socialmedia ul{
      display: flex;
      width: 100%;
      font-size: 20px;
    }

  }

  @media (max-width: 520px) {

    .home {
      margin:50px 50px 0 50px;
    }
    .home p {
      font-size: 15px ;
      line-height: 40px;
    }

    .socialmedia ul{
      display: flex;
      width: 100%;
      font-size: 10px;
    }
  }


